[Unit]
Description=Inicia drone
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/sbin/drone-start
ExecStop=/usr/sbin/drone-stop

[Install]
WantedBy=default.target
