[Unit]
Description=Inicia gogs
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/sbin/gogs-start
ExecStop=/usr/sbin/gogs-stop

[Install]
WantedBy=default.target
